---
import PostCard1 from "../assets/images/post-card1.jpg";
import PostCard2 from "../assets/images/post-card2.jpg";
import PostCard3 from "../assets/images/post-card3.jpg";
import PostCard4 from "../assets/images/post-card4.jpg";
import PostCard5 from "../assets/images/post-card5.jpg";
---

<div class="post-card">
  <div class="image">
    <img src={PostCard1} alt="image" />
  </div>
  <div class="content">
    <p class="top-title">Startup</p>
    <h2 class="card-title">
      Design tips for designers that cover everything you need
    </h2>
    <p class="text">
      Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
      dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident.
    </p>
  </div>
</div>

<div class="post-card">
    <div class="image">
      <img src={PostCard2} alt="image" />
    </div>
    <div class="content">
      <p class="top-title">BUSINESS</p>
      <h2 class="card-title">
        How to build rapport with your web design clients
      </h2>
      <p class="text">
        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
      </p>
    </div>
  </div>

  <div class="post-card">
    <div class="image">
      <img src={PostCard3} alt="image" />
    </div>
    <div class="content">
      <p class="top-title">Startup</p>
      <h2 class="card-title">
        Logo design trends to avoid in 2022
      </h2>
      <p class="text">
        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
      </p>
    </div>
  </div>

  <div class="post-card">
    <div class="image">
      <img src={PostCard4} alt="image" />
    </div>
    <div class="content">
      <p class="top-title">TECHNOLOGY</p>
      <h2 class="card-title">
        8 Figma design systems you can download for free today
      </h2>
      <p class="text">
        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
      </p>
    </div>
  </div>


  <div class="post-card">
    <div class="image">
      <img src={PostCard5} alt="image" />
    </div>
    <div class="content">
      <p class="top-title">ECONOMY</p>
      <h2 class="card-title">
        Font sizes in UI design: The complete guide to follow
      </h2>
      <p class="text">
        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
      </p>
    </div>
  </div>

<style lang="scss">
  @import "../assets/styles/variables.scss";

  .post-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;

    .image {
        width: 100%;
      max-width: 490px;
      height: 318px;

      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }


    .content{
        .title{
            margin: 20px 0 16px;
        }
    }
  }
</style>
